<ion-view view-title="Home">
    <ion-content class="padding" style="background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);">
        <h3 style="text-align:center;">Welcome to Book Buddy</h3>
        <div class="padding">
            <h5>Search Goodsreads for any book you want!</h5>
            <h5>Look for events happening in Canada in a city near you!</h5>
            </br>
            <p>Questions? Want to contact the developer? Visit their website.</p>
        </div>
        <a href="http://storeyofgee.com/" style="text-decoration:none;" target="_blank"><button class="button button-block button-dark">Developer Website</button></a>
    </ion-content>
</ion-view>